/* ART MUSEUM /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.col1 {
  
    height: 100%;
    border-right: 2px solid black;
    box-sizing: border-box;
    margin: 0px;

  
}

.col2 {
    border-right: none;
    height: 100%;
    box-sizing: border-box;
  
}

.info {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;


}

.number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0, 0, 0, .1);
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, .2);
    font-size: 15em;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.boxinfo {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 25px;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;


}

.info:hover .boxinfo {
    display: unset;
    opacity: 1;
    transform: translateY(-50%);

}

.info:hover .number {
    opacity: 0;
}



.bg {
    background: url(/images/gallery.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg1 {
    background: url(/images/pop.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
}

.bg2 {
    background: url(/images/digital.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
}

.bg3 {
    background: url(/images/concept.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
}


.bg4 {

    background: url(/images/surreal.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
}